<?xml version="1.0" encoding="utf-8" ?>
<!--
/*
 * @package     Intelipost_Autocomplete
 * @copyright   Copyright (c) 2016 Gamuza Technologies (http://www.gamuza.com.br/)
 * @author      Eneias Ramos de Melo <eneias@gamuza.com.br>
 */
-->

<config>
    <router id="admin">
        <route id="intelipost_autocomplete" frontName="intelipost_autocomplete">
            <module name="Intelipost_Autocomplete" />
        </route>
    </router>
</config>

